@font-face {
    font-family: "Comfortaa";
    src: url("static/Fonts/Comfortaa/static/Comfortaa-Regular.ttf");
}
    
@font-face {
    font-family: "Comfortaa-bold";
    src: url("static/Fonts/Comfortaa/static/Comfortaa-Bold.ttf");
}
    
@font-face {
    font-family: "Comfortaa-ligth";
    src: url("static/Fonts/Comfortaa/static/Comfortaa-Light.ttf");
}
    
/* 
########################
General
########################
*/ 
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Comfortaa';
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

select {
    font-family: 'Comfortaa';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    padding: .5rem;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}

select::-ms-expand {
    display: none;
}

select:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
}

/* 
########################
Navigation
########################
*/ 

.navigation-block {
    display: none;
    position: fixed;
    width: 100%;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

.language-block {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 3rem;
    position: absolute;
}

nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navigation-block.open {
    display: block;
}

nav a {
    text-decoration: none;
    color: #00000080;
    text-align: right;
    font-size: 1.5rem;
    padding: 1rem;
    min-height: 3rem;
    cursor: pointer;
}

nav a:hover {
    font-size: 1.6rem;
    padding-right: 1.2rem;
}

nav a.active {
    color: #000000;
}

#hamburger, #close {
    position: fixed;
    z-index: 100;
    right: 1rem;
    top: 1rem;
    font-size: 3rem;
}

#hamburger.hidden, #close.hidden {
    display: none;
}

#logo {
    position: absolute;
    bottom: 3rem;
    height: 4rem;
    left: 50%;
    transform: translateX(-50%);

}


/* 
########################
Second page
########################
*/ 

.second-page-fields {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));;
    gap: 1rem;
}

.second-page-fields div h2 { 
    padding-bottom: .5rem;
}

/* 
########################
Three js
########################
*/ 
.webgl {
    outline: black;
}

/* 
########################
Defaults
########################
*/ 
.section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.section.second-page {
    min-height: 100vh;
    height: auto;
}


.section.third-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffd7a2;
}

.carrousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title-box {
    position: absolute;
    bottom: 7.2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    min-width: 12rem;
    text-align: center;
}

.title-box h1 {
    text-wrap: nowrap;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.landings-page #bookButton {
    position: absolute;
    background: #1ec11e73;
    color: white;
    border: none;
    left: 50%;
    bottom: 2rem;
    min-width: 12rem;
    text-align: center;
    transform: translateX(-50%);
    backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

.landings-page #bookButton:hover {
    cursor: pointer;
    background-color: #1ec11e;
}

.corrousel_container {
    height: 100%;
    width: calc(100% * 3);
    display: flex;
}

.corrousel_container img {
    width: calc(100% / 3);
    object-fit: cover;

    animation: carrousel-image 20s ease-in-out infinite;
}

.default-title {
    padding: 2rem;
}

.drag-icon {
    position: absolute;
    height: 5rem;
    width: 5rem;
}

select#imagesNav {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    position: absolute;
    left: 3rem;
    margin-top: 1rem;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
}

select#imagesNav:hover {
    background: rgba(255, 255, 255, 0.5);
}


@keyframes carrousel-image {
    0%, 33% {
        transform: translateX(0);
    }
    33.6%, 66% {
        transform: translateX(-100%);
    }
    66.6%, 99% {
        transform: translateX(-200%);
    } 
    100% {
        transform: translateX(0);
    }
}

/* 
########################
Map
########################
*/ 

.fourth-page {
    display: flex;
    flex-direction: column;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 10;
}

/* 
########################
Three js
########################
*/ 



.section.third-page {
    display: block;
}

.section.third-page canvas {
    cursor: pointer;
    border: 5px solid black;
    margin-left: 2rem;
} 

.drag-icon circle,
.drag-icon path {
    transition: all 350ms ease-in-out;
}

/* .drag-icon circle {
    animation: changeOpacity 2500ms ease-in-out forwards infinite;
} */

.drag-icon {
    pointer-events: none;
}

.drag-icon path {
    transform-origin: center;
}

.threeD-images:hover > .drag-icon circle {
    fill: #ffd7a266;
    /* display: none; */
}

.threeD-images:hover > .drag-icon path {
    transform: scale(1.1);
    /* display: none; */
}

/* 
########################
Desktop
########################
*/ 

@media screen and (min-width: 769px) {
    .landings-page #bookButton {
        bottom: 5rem;
        left: 27rem;
        font-size: 3rem;
        padding: 2rem;
        transform: translateX(0);

    }

    .navigation-block {
        display: block;
        width: 13rem;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(3px);

    }

    #hamburger, #close {
        display: none;
    }

    .title-box {
        bottom: 5rem;
        left: 5rem;
        transform: translateX(0);
    }

    .title-box h1 {
            padding: 2rem;
            font-size: 3rem;
    }

    .second-page-fields {
        padding-right: 13rem;    

    }

    #map {

        margin-left: 2rem;

        height: 80vh;
        width: 48rem;
    }
}

@media screen and (min-width: 1440px) {
    #map {
        width: 74rem;
    }

    .title-box {
        left: 17rem;
    }

    .landings-page #bookButton {
        left: 39rem;
    }
}

@media screen and (min-width: 2000px) {
    #map {
        width: 125rem;
    }

    .title-box {
        left: 53rem;
    }

    .landings-page #bookButton {
        left: 75rem;
    }
}



@keyframes changeOpacity {
    0%, 100% {
     opacity: 1;   
    } 50%  {
        opacity: 0.4;
    }
    
}